html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.users_list__parent {
  grid-area: users;
  box-sizing: border-box;
  width: 400px;
}

body {
  display: grid;
  grid-gap: 2em;
  grid-template-areas: "messenger messenger users";
}

form {
  box-sizing: border-box;
  width: 100%;
}

.messenger {
  grid-area: messenger;
  box-sizing: border-box;
  width: 100%;

  border: 1px solid black;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr min-content;
}

.messages {
  align-self: stretch;
  overflow-y: scroll;
  position: relative;
  bottom: 0;
}

input {
  box-sizing: border-box;
  width: 100%;

  height: 50px;

  align-self: flex-end;
}

.status {
  text-align: center;
}

.message {
  padding: 1em;
  width: 100%;
}

label {
  margin: 0;
  font-weight: bold;
}

.message > p {
  margin-top: 5px;
}

.owner {
  background-color: aliceblue;
  text-align: right;
}
